<div class="jumbotron">
  <h1 class="display-3">CHECKLIST CLARO CHILE BETA!</h1>
  <p class="lead">Plataforma de ingreso de checklist ejecutivos claro chile.</p>
  <hr class="my-4">
  <p>Si no estas registrado, puedes registrarte apretando el boton registrar.</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="<%= new_user_session_path%>" role="button">INICAR SESIÓN</a>
    <a class="btn btn-primary btn-lg" href="<%= new_user_registration_path%>" role="button">REGISTRARME</a>
  </p>
</div>

